html, body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

h3, h1 {
    color: #512b59;
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#widget-ctn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    border: 10px solid #512b59;
    background-color: #512b59;
}

#widget-header {
    background-color: #512b59;
    color: white;
    padding: 0 0 10px 0;
    text-align: left;
    flex: 0 0 auto;
}

#station-map {
    flex: 1 1 auto;
    position: relative;
}

#widget-footer {
    background-color: #512b59;
    color: white;
    padding: 10px 0 0 0;
    text-align: center;
    flex: 0 0 auto;
    width: 100%;
    height: 30px;
}

.tempest-logo {
    filter: brightness(0) invert(1);
    height: 100%;
}

#menu {
    position: absolute;
    bottom: 65px;
    right: 15px;
    padding: 1vw;
    gap: 1vw;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #512b59;
    border-radius: 0.5vw;
    font-size: 1.5vw;
    white-space: nowrap;
    transition: all 0.3s;
    z-index: 1000;
}

#menu-toggle {
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    cursor: pointer;
    background-color: #512b59;
    color: white;
    border-radius: 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu-toggle .arrow {
    margin-left: 10px;
    transition: transform 0.3s;
}

#menu.expanded #menu-toggle .arrow {
    transform: rotate(180deg);
}

#menu-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

#menu.expanded #menu-options {
    max-height: 500px;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.toggle h3 {
    pointer-events: none;
    margin-right: 10px;
}

.slider {
    position: relative;
    width: 34px;
    height: 20px;
    background-color: #ccc;
    border-radius: 34px;
    transition: .2s;
    cursor: pointer;
}

.slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

.slider.checked {
    background-color: #512b59;
}

.slider.checked:before {
    transform: translateX(14px);
}

h3.checked {
    font-weight: bold;
}
